<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FS BLOG APP</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <div class="main">
        <img id="image" src="images/landing-illustration.png" alt="landing image">
        <div class="sub">
            <h1>Full Stack Blog Application</h1>
            <label class="label">Create your account now!</label>
        <a class="link" href="/signup">Sign up</a>
        <label class="label">Already have an account?</label>
        <a class="link" href="/login">Login</a>
        </div>
    </div>
</body>
</html>